body {
	background-color: black;
	color: teal;
	height: 100%;
	width: 100%;
	overflow: none;
	font-family: 'Roboto Mono', monospace;
}

#CUTimeBox, #SITimeBox {
	text-align: center
}

#CUTimeBox, #SITimeBox {
	margin-top: 25vh;
}

.cutimediv{
	display: inline-block;
	text-align: left;
	width: 4.5rem;
	padding: 1rem;
	margin: 0 1rem;
	background: #111;
}

.cutimediv h1 {
	font-size: 4rem;
	margin: 0;
	color: tomato;
}

#CUTimeBox a {
	color: inherit;
	font-weight: bold;
	text-decoration: none;
}
