:root {
	--primary-colour: rgba(255, 130, 188);
	--secondary-colour: rgb(255, 253, 118);
}

body {
	display: flex;
	align-items: center;
	justify-content: center;

	height: 100vh;
	width: 100%;

	background: #2234aa;
	background: linear-gradient(to bottom, #443C6B 0%, #483A6D 100%);

	font-family: 'Roboto Mono', monospace;
	color: var(--primary-colour);
	text-align: center;
}

a {
	color: inherit;
	font-weight: bold;
	text-decoration: none;
}

#main {
	flex: 1;
}

#main > * {
	margin-top: 3rem;
}

.cu-time, .si-time {
	margin: auto;
}

.cu-time-unit {
	display: inline-block;
	text-align: center;
	width: 8rem;
	padding: 1rem;
	margin: 0 0.1rem;
	background: rgba(0, 0, 0, 0.25);
}

.cu-time-unit h1 {
	font-size: 4rem;
	margin: 0;
	color: var(--secondary-colour);
}

.day-loader {
	width: 40%;
	margin: auto;
	min-height: 4px;
	background: #fff;
	position: relative;
}

.progress-loader {
	min-height: 100%;
	width: 0;
	background: var(--primary-colour);
	position: absolute;
}

@media screen and (max-width: 768px) {
	.day-loader {
		width: 75%;
	}
}
