:root {
	--background-1: #443C6B;
	--background-2: #483A6D;
	--primary-colour: rgba(255, 130, 190);
	--secondary-colour: rgb(255, 250, 120);
	--tertiary-colour: rgb(0, 255, 255);

	font-family: 'Roboto Mono', monospace;
	color: var(--primary-colour);
	text-align: center;
}

body {
	display: flex;
	align-items: center;
	justify-content: center;

	height: 100vh;
	width: 100vw;

	background: var(--background-1);
	background: linear-gradient(to top, var(--background-1) 0%, var(--background-2) 100%);
}

a {
	color: inherit;
	font-weight: bold;
	text-decoration: none;
}

#main {
	flex: 1;
}

#main > * {
	margin-top: 3rem;
}

.cu-time, .si-time {
	margin: auto;
}

.cu-time-unit {
	display: inline-block;
	text-align: center;
	width: 8rem;
	padding: 1rem;
	margin: 0 0.1rem;
	background: rgba(0, 0, 0, 0.25);
}

.cu-time-unit h1 {
	font-size: 4rem;
	margin: 0;
	color: var(--secondary-colour);
}

.cu-percent {
	color: var(--secondary-colour);
	padding: 0.5em 0.5em;
	font-weight: bold;
	border-bottom: 1px solid;
}

.day-loader {
	width: 40%;
	margin: auto;
	min-height: 6px;
	/* background: #fff; */
	border: 0.5px solid var(--tertiary-colour);
	position: relative;
}

.progress-loader {
	min-height: 100%;
	width: 0;
	background: var(--tertiary-colour);
	position: absolute;
}

@media screen and (max-width: 768px) {
	.day-loader {
		width: 75%;
	}
}
